<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Main Page</title>
</head>
<body>
    <h1>Dynamic API Fetch</h1>
    <button id="getCharaters" onclick="getCharacters()">Load characters</button>

    <h2>Characters:</h2>
    <div id="main_container" class="loader"></div>


    
    <div id="characters_list" class="grid_container"></div>
    <script src="/public/js/fetchData.js"></script>

</body>
</html>