
body, html {
    /* background: rgb(224, 224, 224); */
    background-color: rgb(51, 51, 51);
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Fantasy;
    /* background: linear-gradient(90deg, #070F2B 0%, #1B1A55 35%, #535C91 50.00%) 100%); */
}

.navbar{
    background-color: rgb(51, 51, 51);
}

/* MAIN COMPONENT */
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.inner-main-div{
    text-align: center;
    width: 60%;
}

.inner-main-div a{
    text-decoration: none;
    color: white;
}

.button{
    border: none;
    color: white;
    padding: 8px 25px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border: 2px solid rgb(37, 37, 37);
}

.button1 {
    background-color:rgb(24, 24, 24);
}

.button2 {
    background-color:rgb(146, 136, 136);
}

.button3 {
    background-color:rgb(240, 76, 76);
}

.button4 {
    background-color:rgb(106, 130, 197);
}

.button5 {
    background-color:rgb(117, 197, 106);
}

.button:hover {
    background-color:rgb(235, 235, 235); 
    color: black;
}

.button:hover a{
    color: black;
}

.button:disabled,
.button4:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}


/* REGISTER AND LOGIN COMPONENT */
.login-page a, .page-wrapper a{
    color: black;
}

.login, .register{
    background-color: rgb(255, 255, 255);
    padding: 20px 30px 40px 30px;
    margin: 0px auto;
    border-radius:5px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(54, 54, 54);
}

.login label, .register label{
    margin-right: 284px;
}

.login input, .register input{
    box-sizing: border-box;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 10px 5px 20px;
}

.login p, .register p{
    color: rgb(110, 110, 110);
}

.login button, .register button{
    width: 360px;
}

.home-link {
    text-align: left;
}
/* ----------------------------------------------------------------- */
/* .register-container , .login-container{
    text-align: center;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
} */

.register, .regoster-nextPage{
    position:relative;
    overflow:hidden
}

/* .page-wrapper {
    position: relative;
    overflow: hidden;
} */

.page {
    align-items: center;
    transition: opacity 0.5s ease-in-out; 
    z-index: 0; 
    pointer-events: none; 
} 

.fade-in {
    opacity: 1;
    z-index: 1; 
    pointer-events: auto; 
}
.fade-out {
    opacity: 0;
    z-index: 0; 
    pointer-events: none;
    display: none;
}
.page1,.page2{
    /* background-color:hsl(0, 0.00%, 100.00%); */
    /* width:100% */
}

/* HOMEPAGE */ 
.homepage-container {
    height: 100vh; 
}


.homepage-container > h1{
    color: rgb(230, 230, 230);
    text-align: center;
    padding: 20px;
}

.banner{
    border: 1px solid black;
    height: 35vh;
    background-image: url("https://thumbs.dreamstime.com/z/seamless-pattern-elements-school-magic-outline-black-white-sorting-magical-hat-feather-ink-round-eye-glasses-flying-letter-173022101.jpg?ct=jpeg");
    background-size: cover;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(73, 77, 70, 0.41);
}

.banner:hover .overlay, .homepage-box:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.homepage{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.homepage > a{
    text-decoration: none;
    color: white;
}

.homepage-box{
    background-color: rgb(51, 51, 51);
    border: 3px solid rgb(131, 131, 131);
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2), 0 6px 20px 0 rgba(155, 155, 155, 0.19);;
    border-radius: 10px;
    width: 450px;
    height: 350px;
    margin: 10px 50px 50px 50px;
    text-align: center;
    font-size: 30px;
    transition: transform .2s;
    display: flex;
    flex-direction: column;
    align-items: center;        
    justify-content: center;        
}

.homepage-box:hover {
    transform: scale(1.1); 
}

/* USER ALBUM */
.user-album-div {
    padding: 30px 0px 30px 0px;
    width: 70%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;     
    margin: 0 auto;
}


.album-text, .album-text > a{
    background-color: rgb(150, 150, 150);
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between; /* Pushes h1 left and a right */
    align-items: center;            /* Aligns them vertically */
    padding: 0px 148px 0px 290px;  
    transition: transform .2s;
}

.album-text a:hover{
    transform: scale(1.1);
}

.album-single-card{
    display: flex;
    flex-direction: column;
    align-items: center;        
    justify-content: center;
    transition: transform .2s;
}

.album-single-card:hover {
    transform: scale(1.1); 
}

.image-id{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(55, 31, 160, 0.51);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}


/* SHOP */
.shop-banner {
    background: linear-gradient(90deg,rgb(37, 58, 66) 0%, rgb(71, 170, 111) 51%, rgba(48, 44, 0, 1) 100%);  display: flex;
    flex-direction: column;
    align-items: center;    
    color: white;    
    justify-content: center;
    height: 200px;
}

.shop-container > h1 {
    margin: 50px 0px 10px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;        
    justify-content: center; 
}

.shop-box {
    background-color: rgb(51, 51, 51);
    border: 3px solid rgb(131, 131, 131);
    /* box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2), 0 6px 20px 0 rgba(155, 155, 155, 0.19);; */
    border-radius: 10px;
    width: 350px;
    height: 250px;
    margin: 10px 50px 50px 50px;
    text-align: center;
    /* font-size: 20px; */
    transition: transform .2s;
    display: flex;
    flex-direction: column;
    align-items: center;        
    justify-content: center;        
}

.shop-box:hover {
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2), 0 6px 20px 0 rgba(155, 155, 155, 0.19);;
}

.shop-box > h3, .shop-box > p, .item-box > p, .user-item-div > h1{
    color: white;
}

.loading-overlay-cardPack{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.73); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensures it stays on top */
}

/* USER ITEM */
.user-item-div {
    padding: 30px 0px 30px 0px;
    width: 70%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;     
    margin: 0 auto;
}

.item-box {
    background-color: rgb(51, 51, 51);
    border: 3px solid rgb(131, 131, 131);
    /* box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2), 0 6px 20px 0 rgba(155, 155, 155, 0.19);; */
    border-radius: 10px;
    width: 350px;
    height: 250px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;        
    justify-content: center;        
}

.item-box:hover { 
  box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2), 0 6px 20px 0 rgba(155, 155, 155, 0.19);
}

/* SETTINGS */
.user-setting-div {
    display: flex;
    height: 100vh;
}

.tab_settings {
    width: 350px;
    color: white;
    margin: 20px 0px 0px 290px;
}


.tab_settings button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 200px;
    text-align: left;
    color: white;
}

.tab_settings button:hover {
    background-color: #ddd;
}

.tab_settings button.active {
    background-color: rgba(150, 150, 150, 0.58);;
}

.tab_content {
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    width:970px;
}

.active {
    font-weight: bold;
}


.general label:nth-of-type(1) {
    padding-right: 10px;
}

.general label:nth-of-type(2) {
    padding-right: 40px;
    padding-top: 20px;
}

.general input {
    padding: 10px;
}



.general2 label:nth-of-type(1) {
    padding-right: 25px;
}

.general2 label:nth-of-type(2) {
    padding-right: 20px;
    padding-top: 20px;
}

.general2 input {
    padding: 10px;
}

/* CREATE TRADE */
.trade-main-div{
    padding: 30px 0px 30px 0px;
    width: 70%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;     
    margin: 0 auto;
}

.request-trade-div{
    padding-left: 50px;
    color: white;
    padding-top: 50px;
}

.request-trade-div button{
    margin-top: 10px;
    margin-left: -0.26px;
}

.counter-text{
    position: absolute;
    bottom: 730px;
    left: 480px;
}

/* TRADE LIST */
.trade-list-div{
    padding: 10px 0px 30px 0px;
    width: 70%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;     
    margin: 0 auto;
}

.trade-list-div a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    
}

.trade-accordion-div{
    display: grid;
    grid-template-columns: 280px 280px 280px 280px 100px;
}

.trade-accordion-body-div {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 15px;
}

.trade-grid-div {
    margin: 10px;
    color: white;
    display: grid;
    grid-template-columns: 290px 290px 260px 300px 100px;
}


/* USER ACTIVE TRADE */
.user-active-trade-div{
    padding: 10px 0px 30px 0px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;     
    margin: 0 auto;
}

.active-trade-box {
    color: white;
    background-color: rgb(51, 51, 51);
    border: 3px solid rgb(131, 131, 131);
    box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2), 0 6px 20px 0 rgba(155, 155, 155, 0.19);;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin: 10px 50px 50px 10px;
    padding: 10px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 600px 200px;
    flex-direction: row; 
    transition: transform .2s;
}

.active-trade-box:hover {
    transform: scale(1.02); 
}

.trade-status {
  color:  rgb(144, 255, 172);
}

.bidder-status {
    color: rgb(206, 49, 49);
    font-size: 30px;
}


/* USER SEND REQUEST TRADE */
.user-send-trade-request-div{
    color: white;
    padding: 20px 0px 0px 10px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;     
    margin: 0 auto;
}


/* ADMIN SECTION */
.admin-main-div{
    color: white;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;   
    align-items: center;        
    justify-content: center;     
    margin: 0 auto;
}

.admin-inner-div{
    padding: 20px;
}

.admin-msg{
    color: rgb(206, 49, 49);
}

.admin-special-offer{
    color: white;
}

.special-offer{
    display: flex;
    flex-direction: row;    
    justify-content: center;      
    border: 1px solid red;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    gap: 5rem;        
    text-align: center;  
}

.admin-c1-special{
    width: 150px;
    height:40px;
    padding: 9px;
    font-size: 20px;
    position: absolute;
    bottom: 515px;
    left: 560px;
}

.admin-c2-special{
    width: 150px;
    height:40px;
    padding: 9px;
    font-size: 20px;
    position: absolute;
    bottom: 515px;
    left: 1020px;
}

.admin-c3-special{
    width: 150px;
    height:40px;
    padding: 9px;
    font-size: 20px;
    position: absolute;
    bottom: 515px;
    left: 1480px;
}

.admin-p1-special{
     width: 150px;
    height:40px;
    padding: 9px;
    font-size: 20px;
    position: absolute;
    bottom: 100px;
    left: 560px;
}

.admin-p2-special{
     width: 150px;
    height:40px;
    padding: 9px;
    font-size: 20px;
    position: absolute;
    bottom: 100px;
    left: 1020px;
}

.admin-p3-special{
     width: 150px;
    height:40px;
    padding: 9px;
    font-size: 20px;
    position: absolute;
    bottom: 100px;
    left: 1480px;
}


.card-img{
    margin: 0px 20px 0px 20px;
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-shadow: 10px 10px 5px rgb(49, 54, 63);
    border-radius: 10px;

}

.image-div{
    margin: 5px;
    position: relative;
    /* border: 1px solid black; */
}

.image-text{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(40, 38, 51, 0.75);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}


/* CARD-REGISTER-DIV */
.card-div{
    display: flex;
    padding: 10px;
}

.card-img{
    max-width: 100%;
}

.card-name-desc{
    color: white;
    margin-top: 50%
}

.card-register-div:focus{
    outline: 5px solid blue;
}

.card-register-div{
    border: 10px solid rgba(153, 95, 95, 0.48);
    width: 100%;
    height: 350px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.card-register-div:hover{
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* MODAL */
.modal-container{
    display: flex;
}

.modal-container > div {
    flex-basis: 0;
}

.table-div{
    height: 500px;
    overflow: auto;
}

.table-card {
    border-collapse: collapse;
    width: 100%;
}

.table-card td, .table-card th {
    border: 1px solid #ddd;
    padding: 2px;
}

.table-card tr:hover{
    background-color: #ddd;
}

.table-card-img{
    width: 30px;
    height: 40px;
    object-fit: cover;
}


.selected-card {
    background-color: #ddd;
}




//ALBUM for TRADED CARD
.active-trade {
    pointer-events: none;
    opacity: 0.5;          
    cursor: not-allowed;
}