
body, html {
    background: rgb(224, 224, 224);
    height: 100%;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(90deg, #070F2B 0%, #1B1A55 35%, #535C91 50.00%) 100%); */
}

/* MAIN COMPONENT */
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner-main-div{
    text-align: center;
    width: 60%;
}

.inner-main-div a{
    text-decoration: none;
    color: white;
}

.button{
    border: none;
    color: white;
    padding: 8px 25px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border: 2px solid rgb(37, 37, 37);
}

.button1 {
    background-color:rgb(24, 24, 24);
}

.button:hover {
    background-color:rgb(235, 235, 235); 
    color: black;
}

.button:hover a{
    color: black;
}

/* REGISTER AND LOGIN COMPONENT */
.login-page a, .page-wrapper a{
    color: black;
}

.login, .register{
    background-color: rgb(255, 255, 255);
    padding: 30px 0px 30px 0px;
    margin: 0px auto;
    border-radius:5px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(54, 54, 54);
}

.login label, .register label{
    margin-right: 284px;
}

.login input, .register input{
    box-sizing: border-box;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 10px 5px 20px;
}

.login p, .register p{
    color: rgb(110, 110, 110);
}

.login button, .register button{
    width: 360px;
}

.home-link {
    text-align: left;
}
/* ----------------------------------------------------------------- */
/* .register-container , .login-container{
    text-align: center;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
} */

.register, .regoster-nextPage{
    position:relative;
    overflow:hidden
}

/* .page-wrapper {
    position: relative;
    overflow: hidden;
} */

.page {
    align-items: center;
    transition: opacity 0.5s ease-in-out; 
    z-index: 0; 
    pointer-events: none; 
} 

.fade-in {
    opacity: 1;
    z-index: 1; 
    pointer-events: auto; 
}
.fade-out {
    opacity: 0;
    z-index: 0; 
    pointer-events: none;
    display: none;
}
.page1,.page2{
    /* background-color:hsl(0, 0.00%, 100.00%); */
    /* width:100% */
}


  
/* .next-button, .register-button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    background-color:rgb(143, 94, 71);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.next-button:hover {
    background-color:rgb(172, 93, 56);
}
.register-button{
    background-color:rgb(45, 138, 57);
}
.register-button:hover {
    background-color:rgb(35, 184, 53);
} */






/* GENERAL */ 
.main-container {
    /* color:rgb(238, 238, 238); */
    max-width: 1000px;
    height: 90vh;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    background-color:rgb(238, 238, 238);
    opacity: 0.9;
    overflow-y: auto;
}

.main-container::-webkit-scrollbar {
    width: .4em; 
}
.main-container::-webkit-scrollbar,
.main-container::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
}
.main-container::-webkit-scrollbar-thumb {
    background: rgb(49, 54, 63);
}



/* CARD-REGISTER-DIV */
.card-div{
    display: flex;
    padding: 10px;
}

.card-img{
    max-width: 100%;
}

.card-name-desc{
    color: white;
    margin-top: 50%
}

.card-register-div:focus{
    outline: 5px solid blue;
}

.card-register-div{
    border: 10px solid rgba(153, 95, 95, 0.48);
    width: 100%;
    height: 350px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.card-register-div:hover{
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* LOGIN - PAGE */
/* .login-page{
    width: 100%;
    height: 100%;
} */



/* HOMEPAGE */ 
.homepage-main-div{
    /* border: 6px solid red; */
    display: flex;
    max-width: 100%;
    max-height: 80%;
}

.card-img{
    margin: 0px 20px 20px 10px;
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-shadow: 10px 10px 5px rgb(49, 54, 63);
    border-radius: 10px;

}

.image-div{
    margin: 5px;
    position: relative;
    /* border: 1px solid black; */
}

.image-text{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(40, 38, 51, 0.75);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

/* USER PROFILE */
.user-album-div {
    display: flex;
    flex-wrap:wrap;
    max-width: 100%;
    max-height: 80%;
}
.image-id{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(55, 31, 160, 0.51);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}


/* SHOP */
.booster-selection-div{
    display: flex;
}

.loading-overlay-cardPack{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.73); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensures it stays on top */
}

.booter-pack-img {
    margin: 0px 20px 10px 0px;
    width: 250px;
    height: 400px;
    /* object-fit: cover; */
    border-radius: 13px;
}
.one{
    box-shadow: 10px 10px 5px rgb(49, 54, 63);
}

.two{
    box-shadow: 10px 10px 5px rgb(118, 171, 174);
}

.three{
    box-shadow: 10px 10px 5px rgb(238, 238, 238);
}

.booster-pack-div{
    /* flex-direction: column;  */
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}



/* SETTINGS */
.tab_settings {
    overflow: hidden;
    width: 200px;
    margin-top: 20px;
    /* border: 1px solid #ccc; */
    /* background-color: #f1f1f1; */
}

.tab_settings button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 200px;
    text-align: left;
}

.tab_settings button:hover {
    background-color: #ddd;
}

.tab_settings button.active {
    background-color: #ccc;
}

.tab_content {
    background: white;
    border-radius: 5px;
    margin-top: 10px;
}

.active {
    font-weight: bold;
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

/* MODAL */
.modal-container{
    display: flex;
    overflow-y: auto;
}

.modal-container > div {
    flex-basis: 0;
    /* text-align: center; */
}

.table-div{
    height: 500px;
    overflow: auto;
}

.table-card {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-card td, .table-card th {
    border: 1px solid #ddd;
    padding: 2px;
}

.table-card tr:hover{
    background-color: #ddd;
}

.table-card-img{
    width: 30px;
    height: 40px;
    object-fit: cover;
}


.selected-card {
    background-color: #ddd;
}




/* TRADE SECTION */

.trade-main-div{
    display: flex;
    flex-wrap: wrap;
}

.trade-main-div > div{
    
}


.accordion-div{
    display: flex;
    gap: 100px;
}

//ALBUM for TRADED CARD
.active-trade {
    pointer-events: none;
    opacity: 0.5;          
    cursor: not-allowed;
}